.dark-theme {
  background-color: $dark-gray-theme;
  color: $white;

  .navbar__custom {
    background-color: $dark-gray-theme;
    box-shadow: 0 2px 4px -1px $border-color;
  }

  .dark-theme-btn,
  .eb-progress-bar-title,
  .nav-link {
    color: $white;
  }
  .contact__us div a{
    color: $primary;
    transition: 0.3s all ease;
  }
  .contact__us div span{
    color: $primary;
    transition: 0.3s all ease;
  }
  .about-secition ul li::before,
  .portfolio-section ul li::before {
    background: $white;
  }
  .about-secition ul li .card {
    background: $white !important;
  }
  .contact__us .card:hover {
    background-color: $primary;
  }
  .portfolio-section ul li .project-section .card {
    border-color: $white;
    background-color: transparent;
  }
  .eb-progress-bar.animation::before{
    background: $dark-gray-theme;
    color: $white;
  }

  .modal-content {
    background-color: $dark-gray-theme;

    .modal-header {
      .modal-title h1 {
        color: $border-color;
      }

      .btn-close {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23ccc"><path d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z"/></svg>');
      }
    }
  }

  .bredcrum-custom {
    background-color: $dark-gray-theme;

    .breadcrumb-item + .breadcrumb-item::before {
      color: $border-color !important;
    }
  }

  .ant-table {
    background-color: $dark-gray-theme;
    color: $border-color;
  }

  .ant-table-cell {
    background-color: $dark-gray-theme !important;
    color: $border-color !important;
  }

  .ant-popover-inner {
    background-color: $border-color;
  }

  .ant-popover-arrow::before {
    background-color: $border-color;
  }

  .btn-outline-primary {
    color: $primary;
    &:hover {
      color: $white;
    }
  }

  .Toastify__toast-theme--light {
    background-color: $dark-gray-theme;
    color: $border-color;
  }

  .Toastify__close-button > svg {
    color: $border-color;
  }

  footer {
    background-color: $dark-gray-theme;
    color: $border-color;
    box-shadow: 0px 0px 5px 1px $border-color;
  }

  .ant-drawer-content {
    background-color: $dark-gray-theme;

    .ant-drawer-header {
      border: none;
      box-shadow: 0px 0px 3px 1px $border-color;

      .ant-drawer-close {
        color: $border-color;
      }
    }

    .nav-link {
      color: $white !important;

      &.active {
        color: $primary !important;
      }
    }
  }
}
