// scroll bar css
/* width */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 0px !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

html {
  scroll-behavior: smooth;
}

.nav {
  ul {
    padding-left: 20px !important;
  }
  .nav-item {
    &:first-child {
      margin-left: 0px;
    }
    margin-left: 40px;
    @media only screen and (max-width: 990px) {
      margin-left: 0px;
    }
  }
  .nav-link {
    color: $nav-color;
    border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
    cursor: pointer;

    &.active {
      color: $primary !important;
      background-color: transparent !important;
      border-bottom: 1px solid;
    }
  }
}

.ant-drawer-header-title {
  justify-content: end;

  .ant-drawer-close {
    margin-right: 0px;
    padding-right: 0px;
  }
}

.ant-drawer-body {
  padding-top: 0px !important;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:hover {
    background-color: $primary;
    border-color: $primary;
    transition: 0.3s all ease-in-out;
  }

  &:focus {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    transition: 0.3s all ease-in-out;
  }

  &:active {
    background-color: $primary !important;
    border-color: $primary !important;
  }
}

.btn:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  background-color: $primary !important;
  border-color: $primary !important;
}

.btn-outline-primary {
  border-color: $primary;
  color: $nav-color;
  cursor: pointer !important;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: $primary;
    border-color: $primary;
    transition: 0.3s all ease-in-out;
  }

  &:focus {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    transition: 0.3s all ease-in-out;
  }

  &:active {
    background-color: $primary !important;
    border-color: $primary !important;
  }
}

.form-floating {
  & .form-control {
    border-radius: 4px;
    outline: none;
    height: 2.5rem;
    min-height: 2.5rem;
    border-color: $border-color;

    &:focus {
      box-shadow: none !important;
      border-color: $border-color !important;
    }
  }

  & label {
    position: absolute;
    color: $dark-gray;
    transition: all 0.3s ease-in-out;
    font-size: 0.85rem;
    padding: 0px;
    top: 8px;
    left: 12px;
    height: auto;

    &::after {
      display: none;
    }
  }
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.85) translateY(-1.3rem) translateX(0rem) !important;
  color: $danger;
  transition: 0.3s all ease-out;
  background-image: linear-gradient(
    transparent 40%,
    white 40%,
    white 60%,
    transparent 60%
  );
}

.selected > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.85) translateY(0.2rem) translateX(0rem) !important;
  color: $dark-gray;
  font-size: 1rem !important;
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 0px;
  padding-bottom: 0px;
}

#text-container {
  overflow: hidden;
}

#typed-text {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #000;
  animation: typing 1s steps(40) forwards,
    blink-caret 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  to {
    border-color: transparent;
  }

  50% {
    border-color: #000;
  }
}
