body {
  font-family: "Roboto", sans-serif !important;
  font-size: 1rem !important;
  line-height: 1.5;
  color: $dark-gray;
  overflow-x: hidden;
}

table {
  font-family: "Roboto", sans-serif !important;
}

.navbar__custom {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999;
  padding: 5px 0px;
  background-color: $white;
  box-shadow: 0 2px 4px -1px rgba(57, 76, 96, 0.15);

  img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }

  .navbar-nav {
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      padding: 0px;
      margin: 0px;

      .nav-link {
        color: $nav-color;
        font-size: 0.9rem;
        animation: 0.3s all ease-in;

        &:hover {
          color: $primary !important;
        }
      }

      li:last-child .nav-link {
        padding-right: 0px !important;
      }
    }
  }
}

.dark-theme-btn {
  color: $dark-gray;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  position: fixed;
  top: 50%;
  right: 0%;
  background-color: $primary;
  color: $white;
  display: flex;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  @media only screen and (max-width: 576px) {
    top: 9px;
    right: 50px;
    background-color: unset;
    color: $dark-gray;
    z-index: 999;
  }
}

.min-height {
  min-height: calc(100vh - 82.8px);
  padding: 1.5rem 1rem;

  &.min-height-pagination {
    min-height: calc(100vh - 85.69px);
    padding-top: 5px;
  }

  .list-style {
    list-style: none;
    display: flex;
    padding: 0px;

    li {
      margin-right: 15px;

      &:last-child {
        margin-right: 0px;
      }

      a {
        text-decoration: none;
        color: $primary;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// animation text design
.animate-charcter {
  padding-bottom: 10px;
  background-image: linear-gradient(
    225deg,
    $dark-gray 0%,
    #44107a 29%,
    #ff1361 67%,
    $primary 100%
  );
  background-size: 200% auto;
  color: $white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.custom-slick-slider {
  margin-top: 20px;

  &.h-70 {
    height: 70px;
  }

  &.img-slick {
    margin-top: 0px;

    img {
      width: 100% !important;
      height: 400px !important;
    }
  }

  img {
    width: auto;
    height: 50px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
  }

  .slick-track {
    display: flex;
    align-items: center;
  }

  .slick-arrow {
    z-index: 9;

    &::before {
      color: $primary !important;
    }
  }

  .slick-center img {
    width: auto;
    height: 70px;
    transition: 0.3s all ease-in-out;
  }

  .slick-dots {
    padding: 10px 0px;

    li button::before {
      color: $primary;
    }

    .slick-active button::before {
      color: $primary;
    }
  }

  .slick-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .slick-prev {
    left: 0px;
  }

  .slick-next {
    right: 0px;
  }
}

// bredcrum css
.bredcrum-custom {
  position: sticky;
  top: 50px;
  background-color: $white;
  z-index: 3;

  .breadcrumb {
    margin-bottom: 0px;

    .breadcrumb-item {
      font-size: 0.9rem;
    }
  }
}

// product css
.product {
  ul {
    padding: 0px;
    margin: 0px;
    counter-reset: items;
    list-style-type: none;

    li {
      &::before {
        counter-increment: items;
        content: counter(items) ". ";
      }
    }
  }
}

// skills css
@property --eb-progress-value {
  syntax: "<integer>";
  inherits: false;
  initial-value: 0;
}

@keyframes eb-progress {
  to {
    --eb-progress-value: var(--value);
  }
}

.eb-progress-bar {
  --secondary-color: #dfe0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 1rem;
  color: $primary;
  background: radial-gradient(closest-side, #ccc 85%, transparent 80% 100%),
    conic-gradient(
      $primary calc(var(--eb-progress-value) * 1%),
      var(--secondary-color) 0
    );
  border-radius: 50%;
  &.animation {
    &,
    &::before {
      animation: eb-progress 2s 1 forwards;
    }
    &::before {
      counter-reset: percentage var(--eb-progress-value);
      content: counter(percentage) "%";
      font-weight: 500;
      font-size: 1rem;
      color: #9e9e9e;
      background: $white;
      padding: 20px 15px;
      border-radius: 50%;
      z-index: 1;
      position: relative;
      width: 68px;
      height: 68px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:hover > .eb-progress-bar-title h2 {
      font-size: 1rem;
    }
  }

  &-title {
    text-align: center;
    color: $black;
    font-size: 0.85rem;
    width: 100%;
  }

  progress {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

h2 {
  font-size: 0.85rem;
  cursor: auto;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 64px;
  }
}

// about css
.text-hover:hover .btn {
  background-color: $primary;
  transition: 0.55s all ease;
  color: $white;
}
.about-secition {
  ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    li {
      list-style-type: none;
      position: relative;
      float: left;
      width: 100%;
      &.hoverafter {
        &::after {
          top: 47%;
          transition: 0.55s all ease;
        }
        span {
          opacity: 1;
          transition: 0.55s all ease;
          &::after {
            transition: 0.55s all ease;
          }
        }
      }
      span {
        opacity: 0;
        &::after {
          content: "";
          position: absolute;
          top: 47%;
          left: 48.5%;
          transform: translate(50%, 50%);
          height: 30px;
          width: 30px;
          border-radius: 50px;
          background-color: $primary;
          animation: puls 3s infinite;
          transition: 0.55s all ease;
        }
      }
      &::before {
        content: "";
        position: absolute;
        width: 2px;
        background-color: #191923;
        top: 0px;
        right: 50%;
        height: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        border: 2px solid $primary;
        top: 49%;
        right: 50%;
        transform: translate(50%, 50%);
        height: 15px;
        width: 15px;
        border-radius: 50px;
        background-color: $white;
        transition: 0.55s all ease;
      }
      .card {
        background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
        padding: 20px;
        max-width: 500px;
        width: 500px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 0px;
        color: $white;
        font-size: 1rem;
        float: left;
        transition: 0.55s all ease;
        position: relative;
        border-radius: 15px;
        &:hover {
          transform: translateY(-10px) !important;
          transition: 0.55s all ease;
          .year {
            box-shadow: 0px 1px 8px 3px $primary;
            transition: 0.55s all ease;
            color: #9e9ea5;
          }
          p::before {
            opacity: 1;
            transition: 0.55s all ease;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: -8px;
          width: 15px;
          height: 15px;
          background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
          transform: rotate(-45deg);
        }
        .heading {
          h1 {
            font-size: 1rem;
            margin-bottom: 0px;
          }
          p {
            font-size: 0.85rem;
            color: #646466;
            margin-bottom: 0px;
            font-style: italic;
          }
        }
        .year {
          background-color: #20202a;
          color: #646466;
          min-width: 150px;
          border-radius: 50px;
          font-size: 0.85rem;
          align-items: center;
          justify-content: center;
          display: flex;
          height: 35px;
          transition: 0.55s all ease;
        }
        i {
          font-size: 0.85rem;
        }
        p {
          font-size: 0.85rem;
          font-style: italic;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 15%;
            left: 0px;
            width: 8px;
            height: 8px;
            background-color: $primary;
            border-radius: 50px;
            opacity: 0.5;
            transition: 0.55s all ease;
          }
        }
      }
      &:nth-child(even) {
        .card {
          float: right;
          &::after {
            left: -8px;
          }
        }
      }
    }
  }
}

// portfolio css
.portfolio-section {
  ul {
    width: 100%;
    margin: 0px;
    padding: 0px;
    li {
      list-style-type: none;
      position: relative;
      float: left;
      width: 100%;
      &::before {
        content: "";
        position: absolute;
        width: 2px;
        background-color: #191923;
        top: 0px;
        right: 50%;
        height: 100%;
      }
      &::after {
        content: "";
        position: absolute;
        width: 25%;
        background-color: #ffc107;
        top: 50%;
        left: 12%;
        transform: translate(50%, 50%);
        height: 1px;
      }
      .project-section {
        position: relative;
        padding-right: 25%;
        width: 50%;
        float: left;
        &:hover span::before {
          display: block;
        }
        span {
          &::after {
            content: "";
            position: absolute;
            border: 2px solid $primary;
            top: 50%;
            right: 0%;
            transform: translate(45%, -50%);
            height: 15px;
            width: 15px;
            border-radius: 50px;
            background-color: $white;
          }
          &::before {
            content: "";
            position: absolute;
            top: 45%;
            right: -14px;
            height: 30px;
            width: 30px;
            border-radius: 50px;
            background-color: $primary;
            animation: puls 3s infinite;
            transition: ease-in-out;
            display: none;
          }
        }
        .card {
          border: 1px solid;
          border-color: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
          min-height: 250px;
          position: relative;
          z-index: 1;
          cursor: pointer;
          border-radius: 0px;
          transition: 0.4s all ease-out;
          overflow: hidden;
          margin: 20px 0px;
          max-height: 275px;
          img {
            transition: 0.55s ease-in-out;
          }
          .project-details {
            position: absolute;
            top: 40%;
            bottom: 0px;
            right: 0px;
            width: 100%;
            z-index: 99;
            background: linear-gradient(
              159deg,
              rgba(57, 57, 71, 0.98) 0%,
              rgba(66, 66, 80, 0.98) 100%
            );
            padding: 10px;
            transition: 0.55s ease-in-out;
            transform: translateY(100%);
            &:first-child {
              margin-top: 10px;
            }
            h1 {
              color: $white;
              font-size: 1.5rem;
            }
            p {
              font-size: 1rem;
              color: $white;
              margin-bottom: 6px;
            }
            a {
              text-decoration: none;
              color: $primary;
            }
          }
          .project-view {
            position: absolute;
            top: 10px;
            left: 10px;
            transition: 0.55s ease-in-out;
            transform: translateY(-150%);
            background-color: linear-gradient(
              159deg,
              rgba(45, 45, 58, 0.88) 0%,
              rgba(43, 43, 53, 0.88) 100%
            );
            border: none;
            outline: none;
            padding: 0px;
            color: $primary;
            border-radius: 50px;
            font-size: 1.5rem;
            width: 35px;
            height: 35px;
          }
          &:hover {
            .project-details {
              transform: translateY(0);
            }
            .project-view {
              transform: translateY(0);
            }
            img {
              transform: scale(0.8);
              transition: 0.55s ease-in-out;
            }
          }
        }
      }
      &:nth-child(even) {
        float: right;
        &::after {
          left: 38%;
        }
        .project-section {
          float: right;
          padding-left: 25%;
          padding-right: 0px;
          span {
            &::after {
              left: -16px;
            }
            &::before {
              left: -17px;
            }
          }
        }
        .project-details-slide {
          padding-left: 0px;
          padding-right: 20px;
        }
      }
    }
  }
  .project-details-slide {
    width: 50%;
    float: right;
    min-height: 250px;
    padding-left: 20px;
    transition: 0.55s all ease-in-out;
    margin-top: 15px;
  }
}
.h-250 {
  height: 250px;
  margin-bottom: 20px;
  img {
    height: 240px !important;
  }

  .slick-list {
    height: 250px;
  }
  .slick-track {
    height: 250px;
  }
}
@keyframes puls {
  0% {
    transform: scale(0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

// footer css
footer {
  background: linear-gradient(159deg, #2d2d3a 0%, #2b2b35 100%);
  color: #8c8c8e;
  font-size: 0.825rem;
}

.center {
  vertical-align: middle;
}

.text-primary {
  color: $primary !important;
}

.text-danger {
  color: $danger !important;
}

.btn-close:focus {
  box-shadow: none !important;
}

::marker {
  color: $primary;
}

.active {
  color: $primary !important;
  transition: 0.3s all ease-in-out;
}

.custom-nav-tabs {
  display: flex !important;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap !important;

  .nav-item {
    white-space: nowrap;
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }

    .nav-link {
      color: $dark-gray !important;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      transition: 0.3s all ease-in-out;
      border: 1px solid #dee2e6;
      border-bottom: 0px;

      &.active {
        color: $primary !important;
        border-bottom: 2px solid $primary;
        transition: 0.3s all ease-in-out;
      }
    }
  }

  ~ .tab-content > .active {
    color: $dark-gray !important;

    ul {
      padding-left: 1rem;

      li {
        margin-top: 10px;
      }
    }
  }
}

td {
  vertical-align: top;
}

.ant-table-content {
  box-shadow: 2px 2px 4px 2px rgba(57, 76, 96, 0.15);

  @media screen and (max-width: 992px) {
    overflow-x: scroll;

    .ant-table-thead tr th:nth-child(1) {
      min-width: 260px;
    }

    .ant-table-thead tr th:nth-child(2) {
      min-width: 305px;
    }

    .ant-table-thead tr th:nth-child(3) {
      min-width: 130px;
    }
  }

  .ant-table-cell {
    padding: 10px 20px !important;
  }
}

.dark-mode {
  background-color: $dark-gray;
  color: $white;
}

// loader css

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

.box-shadow {
  -webkit-box-shadow: -1px 0px 5px 2px rgba(222, 219, 222, 1);
  -moz-box-shadow: -1px 0px 5px 2px rgba(222, 219, 222, 1);
  box-shadow: -1px 0px 5px 2px rgba(222, 219, 222, 1);
}

.box-shadow_1 {
  height: 100%;
  box-shadow: 4px 8px 24px 2px rgba(0, 0, 0, 0.1);
  background-color: $card-background;
}

// contact us css
.contact__us {
  .card {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 0px 7px 2px #ccc;
    &:hover {
      background-color: $primary;
      transition: 0.3s all ease-in-out;
      a svg {
        color: $white;
        transition: 0.3s all ease-in-out;
      }
    }
  }

  div a {
    text-decoration: none;
    color: $dark-gray;
  }
}

.arrowLeft {
  animation: leftRightScroll 4s infinite;
  color: $primary;
  position: absolute;
  top: 1px;
  font-size: 0.8rem;
}

@keyframes leftRightScroll {
  0% {
    right: 16px;
  }

  25% {
    right: 26px;
  }

  50% {
    right: 36px;
  }

  75% {
    right: 26px;
  }

  100% {
    right: 16px;
  }
}

@keyframes downloadbtnicon {
  from {
    top: -5px;
  }

  to {
    top: 3px;
  }
}

.downloadbtn {
  padding: 5px 10px;
  border-radius: 50px;
  margin-left: 5px;
  // width: max-content;
  // position: absolute;
  // top: 5px;
  // right: 16px;

  // @media only screen and (max-width: 768px) {
  //   top: unset;
  //   bottom: 5px;
  // }

  .downloadbtnicon {
    position: relative;
    animation: downloadbtnicon 3s infinite;
  }
}
.dark-theme-bg {
  background-color: $dark-gray-theme;
}

::selection {
  background-color: $primary;
  color: $white;
}
