@font-face {
    font-family: lovelace-regular;
    src: url(../fonts/Lovelace-Text-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: lovelace-bold;
    src: url(../fonts/Lovelace-Text-Bold-Italic.otf);
    font-weight: bold;
}

@import-normalize;
@import "./variable.scss";
@import "./override.scss";
@import "./page.scss";
// @import "./darktheme.scss";