$primary: #48b96c;
$bannerbg: #f8ffec;
$bannerbg1: #b3d4a1;
// $nav-color: #3c3e41;
$black: #000000;
$white: #fff;
$dark-gray: #1f3c58;
$gray-color: #d3cebe;
$danger: #c6323e;
$cardbg: #ecf0f3;
$card-background: #ecf0f1;
$border-color: #ccc;
$dark-gray-theme: #1c242c;