$primary: #ffc107;
// $nav-color: #3c3e41;
$black:#000000;
$white: #fff;
$dark-gray: #1F3C58;
$gray-color: #D3CEBE;
$danger: #c6323e;
$cardbg: #ECF0F3;
$card-background: #ecf0f1;
$border-color: #ccc;
$dark-gray-theme: #1C242C;