$primary: #e70448;
$nav-color: #3c3e41;
$white: #fff;
$dark-gray: #2c3e50;
$gray-color: #ccc;
$danger: #c6323e;
$cardbg: #ECF0F3;
$card-background: #ecf0f1;
$border-color: #ccc;
$dark-gray-theme: #121212;